# Ignore Mac system files
.DS_Store

# Ignore Node.js dependencies
api/node_modules/
node_modules/

# Ignore Go build binaries
main
*.exe
# REMOVED 'server' FROM HERE

# Ignore environment variables
.env