<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car Viewer</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>

        <header>
            <h1>Car Inventory</h1>
        </header>

        <main>
            <div class="container">
                {{ range . }}
                <div class="car-card">
                    <img src="http://localhost:3000/api/images/{{ .Image }}" alt="{{ .Name }}">
                <div class="car-details">
                    <h2>{{ .Name}}</h2>
                    <p class="price">Year: {{ .Year }}</p>

                    <table class="specs-table">
                        <tr>
                            <td>Engine:</td>
                            <td>{{ .Specs.Engine }}</td>
                        </tr>
                        <tr>
                            <td>HP:</td>
                            <td>{{ .Specs.Horsepower }}</td>
                        </tr>
                        <tr>
                            <td>Trans:</td>
                            <td>{{ .Specs.Transmission }}</td>
                        </tr>
                    </table>

                    <button class="details-btn" onclick="alert('More details coming soon!')">View Details</button>
                </div>
                </div>
                {{ end }}
            </div>
        </main>
    </body>
</html>